@media(max-width:992px)
{
    .navbar-nav
    {
        margin-right: 50px;
        
    }

}

@media(max-width:769px)
{
    .navbar-nav
    {
        margin-right: 50px;
    }
    
}
@media(max-width:823px)
{
    .banner .content{
       left: 50%;
       transform: translateX(-50%);
       top: 15%;
       width: 60%;
        
    }
    
}
@media(max-width:579px)
{
    .banner .content{
       
       width: 80%;

        
    }
    
}
@media(max-width:480px)
{
    .banner .content{
       
       width: 95%;

        
    }
    
}
@media(max-width:300px)
{
  .banner{
    background-position: right;
}
}

@media(max-width:1032px)
{
    .navbar .navbar-brand img{
        
        left: 50px;
        top: 0;
      }
    
}
@media(max-width:991px)
{
    .navbar{
        background-color:#007BFF;
      }
    
}
@media(max-width:992px)
{
    .navbar .navbar-brand img{
        
        left: 50px;
        top: 0;
      }
    
}
@media (max-width: 1200px)
{
  .features h6{
      padding: 0px 0px;
      padding-top: 100px;
      
    }
}
  @media (max-width: 1199px)
  {
    .feature{
        margin-top: 30px;
        height: 70vh;
        padding: 0;
      }

  }
  @media (max-width: 991px)
  {
    .feature .featureBox{
        margin: 5px;
      }
      .feature{
        height: 140vh;
        padding: 5px;
      }
      .features h6{
        padding-top: 50px;
    }
  }


  @media (max-width: 1200px)
  {
    .info1{
        margin-top: 100px;
       
      }
  }
  @media (max-width: 426px)
  {
    .info1 .information{
      margin: 30px;
      
      }
      .info1 img{
        object-fit: contain;
     
        width: 100%;
        
      }
  }
  @media (max-width: 1200px)
  {
    .info2{
        margin-top: 0;
        
      }
  }

  @media (max-width: 991px)
  {
    .info1{
        margin-top: 400px;
        height: 160vh;
        
      }
      .info1{
          flex-direction: column;
          
      }
      
  }
  @media (max-width: 991px)
  {
    .info2{
        margin-top: 0;
    }
    .info2 .information{
        order: 1;
    }
    .info2 img{
        order: 2;
    }
  }
  @media(max-width:767px)
  {
    .info1 .information{
      height: 50vh;
    }
    .info1 img{
      /* border: 2px solid red; */
      height: 60%;
    }
  }
  @media (max-width: 503px)
  {
   
    .info1{
        margin-top: 1000px;
        
      }
  }
  @media (max-width: 503px)
  {
   
    .info2{
        margin-top: 100px;
        
      }
  }
  @media (max-width: 1200px)
  {
    .amazing .container .amazingFeature{
        height: 55vh;
       }
  }
  @media (max-width: 1199px)
  {.amazing .container{
    padding: 0;
    height: 150vh;
  }
  .amazing .container .amazingFeature{
    margin-top: 25px;
   }
   .amazing{
       height: 150vh;
   }
  }
  @media (max-width: 507px)
  {.amazing .container{
    padding: 0;
    height: 250vh;
  }
   .amazing{
       height: 270vh;
   }
  }

  @media (max-width: 1199px)
  {
    .details .phonePhoto{
      margin-top: 100px;
    }
  }
  @media(max-width:772px)
  {
    .details{
      flex-direction: column;
    }
    
      .details .phonePhoto{
        width: 70%;
      }
      .details .detailSlide{
        width: 70%;
      
      }
  }
  @media(max-width:992px)
  {
    .screenshot .owl-nav .owl-prev{
     left: -20px;
    }
    .screenshot .owl-nav .owl-next{
      right: -20px;
     }
  }
  @media(max-width:767px)
  {
    .screenshot .owl-nav .owl-prev{
     left: -50px;
    }
    .screenshot .owl-nav .owl-next{
      right: -50px;
     }
    
  }
@media(max-width:699px)
{
  .screenshot{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  }
  .appScreenShot{
    display: flex;
    justify-content: center;
    
  }
  .appScreenShot .item{
    width: 100%;
  
  }
 
}

  @media(max-width:1200px)
  {
    .video{
      margin-top: 100px;
    }
  }

  
  @media(max-width:767px)
  {
   .video{
     flex-direction: column;
     justify-content: space-evenly;
     height: 200vh;
   }
   .video .videoImage{
     width: 100%;
   }
   .video .companyOverview{
     width: 100%;
   }
  }

  @media(max-width:992px)
  {
    .getInTouch{
      width: 500px;
      margin-bottom: 50px;
    }
  }
  @media(max-width:684px)
  {
    .client{
      flex-direction: column;
    }
    .client .ourClient{
     width: 80%;
    }
    .client .testimonials{
      width: 80%;
    }
  }


  @media(max-width:360px)
  {
    .accordion .accordion-item {
      width: 90%;
      
    }
  }
  @media(max-width:343px)
  {
    .store .storeIcon{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
    }
    .store .storeIcon img{
      margin: 10px;
    }
  }




  
